html {
    background-color: rgb(77, 40, 118);
    background-blend-mode: screen;
    text-align: center;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 300px;
    width: 100%;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    width: 300px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space:pre;
}

.pPre {
    white-space:pre;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 18px;
}

dl {
    margin-top: 0px;
    margin-bottom: 0px;
}

dt {
    /* padding-top: 5px; */
    padding-bottom: 5px;
}

dd {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.header {
    height: 50px;
}

.clear {
    clear: both;
}

.main {
    width: 100%;
    height: 100%;
}

.items {
    border-radius: 10px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 50, 100);
}

div {
    margin: 0 auto;
}

.iDiv {
    background-color: rgb(45, 12, 56);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    position: relative;
    overflow-x: auto;
}

.e-items {
    display: inline-block;
    border-radius: 10px;
    width: 500px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(90, 40, 90);
    vertical-align: top;
}

label[for=submit],
label[for=submitC],
label[for=submitR] {
    display: none
}



.iItem {
    display: inline-block;
    vertical-align: middle;
    min-width: 125px;
    margin: 1px;
    border-radius: 10px;
    /* background-color: rgb(80, 30, 80, .75); */
    text-align: center;
}

.vItem {
    display: inline-block;
    width: 200px;
    height: 175px;
    vertical-align: middle;
    margin: 1px;
    border-radius: 10px;
    background-color: rgb(100, 50, 100, .75);
    text-align: center;
}

.vItem :hover {
    background-color: rgb(100, 50, 100);
    border: 1px solid none;
    border-radius: 10px;
}

.vItem2 {
    width: 200px;
    height: 175px;
    vertical-align: middle;
    display: table-cell;
}

.coverImg {
    width: 115px;
    height: 115px;
    pointer-events: none;
    border-radius: 10px;
}

.userImg {
    width: 130px;
    height: 130px;
    pointer-events: none;
    border-radius: 10px;
}

.VMain {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.new-items {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.mSpan {
    margin: 0px;
    min-height: 18px;
    max-height: 36px;
}

.button {
    font-size: large;
    vertical-align: top;
    line-height: 50px;
    color: rgb(180, 0, 180);
}

.logo {
    border-radius: 10px;
    width: 50px;
}

.right {
    height: 50px;
}

.sml-button {
    width: 150px;
    padding: 1px;
    color: rgb(180, 0, 180);
}

.username {
    font-size: large;
}

.cTitle {
    margin-bottom: 0px;
}

.rRelBand {
    font-size: x-large;
}

.rBandName {
    font-size: large;
}

.iImg {
    width: 500px;
}

.cImg {
    width: 18px;
}

.cSpan {
    vertical-align: top;
}

.loggedOut {
    margin-top: 230px;
}

.logIn {
    margin-top: 150px;
}

.iDl {
    margin: 0px;
}

.title {
    width: 800px;
}

.itemImg {
    width: 200px;
    height: 200px;
}