<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Tempo Trove</title>
        <link rel="icon" href="/static/TheTempoTrove.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="/static/TheTempoTrove.png" class="logo" alt="logo"></img>
            <a class='button' href="{{ url_for('index') }}">Home</a>
            <a class='button' href="{{ url_for('insertItem') }}">Insert</a>
            <a class='button' href="{{ url_for('userPage') }}">Profile</a>
            <a class='button' href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="main">
            <h1>Welcome to The Tempo Trove!</h1>
            <p>If you want to know if a band you know is playing near you, just type in their name, along with the city your in!</p>
            <div class="items">
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                    <dl>
                        {{ render_field(form.band) }}
                        {{ render_field(form.location) }}
                    </dl>
                    <input type=submit value=Submit>
                </form>
            </div>
            <div>
                {% if status == 2 %}
                    <span>Band Not Found</span>
                {% elif status == 3 %}
                    <span>Band Not On Tour</span>
                {% elif status == 4 %}
                    <span>Band On Tour, but not in this location</span>
                {% else %}
                    <span>Please input a band and a concert</span>
                {% endif %}
            </div>
            <div class="items">
                {% for concert in concerts %}
                    {% for key, value in concert.items() %}
                        {% if key == "title" %}
                            <h3 class="cTitle">{{value}}</h3>
                        {% elif key == "location" %}
                            <span>City: {{value}}</span>
                            <br/>
                        {% elif key == "venue" %}
                            <span>Venue: {{value}}</span>
                            <br/>
                        {% elif key == "date" %}
                            {% set list1 = value.split('T') %}
                            {% set list2 = list1[1].split('-') %}
                            {% set t = list2[0].split(':') %}
                            {% if t[0]|int > 12 %}
                                {% set time = t[0]|int-12 %}
                                <span>Date: {{list1[0]}} {{time}}:{{t[1]}}:{{t[2]}} PM</span>
                            {% else %}
                                <span>Date: {{list1[0]}} {{list2[0]}} AM</span>
                            {% endif %}
                            <br/>
                        {% elif key == "ticketers" %}
                            {% for ticketer in value %}
                                {% for key, value in ticketer.items() %}
                                    {% if key == "url" %}
                                        <span><a href="{{ value }}">Ticketer</a></span>
                                        <br/>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>