<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Tempo Trove</title>
        <link rel="icon" href="/static/TheTempoTrove.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="/static/TheTempoTrove.png" style="float:left;" class="logo" alt="logo"></img>
            <a class='button' style="float:left; padding-right: 5px;" href="{{ url_for('index') }}">Home</a>
            <a class='button' style="float:left; padding-right: 5px;" href="{{ url_for('insertItem') }}">Insert</a>
            {% if not loggedIn %}
                <a class='button' style="float:left; padding-right: 5px;" href="{{ url_for('register') }}">Register</a>
                <a class='button' style="float:left" href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a class='button' style="float:left"  href="{{ url_for('logout') }}">Logout</a>
                <a class='right' style="float:right;" href="{{ url_for('userPage') }}">
                    <img src="/static/{{username}}.jpg" class="logo" alt="logo"></img>
                </a>
                <div class="title">
                    <h1>Welcome to The Tempo Trove!</h1>
                    <span>This is my website where for music lovers to favorite!</span>
                </div>
            {% endif %}
        </div>
        <div class="main">
            <div class="new-items">
                <h2>Recent Bands</h2>
                <div class="iDiv">
                {% for band in value1 %}
                    <div class="vItem">
                        <div class="vItem2">
                            <img class="coverImg" src="{{band.visuals.avatar[0].url}}">
                            <br/>
                            <p class="mSpan">{{band.name}}</p>
                            <a class='sml-button' href="{{ band.shareUrl }}">Spotify</a>
                            <br/>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <h2>Recent Albums</h2>
                <div class="iDiv">
                {% for album in value2 %}
                    <div class="vItem">
                        <div class="vItem2">
                            <img class="coverImg" src="{{album.cover[0].url}}">
                            <br/>
                            <p class="mSpan">{{album.name}}</p>
                            <a class='sml-button' href="{{ album.shareUrl }}">Spotify</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <h2>Recent Songs</h2>
                <div class="iDiv">
                {% for song in value3 %}
                    <div class="vItem">
                        <div class="vItem2">
                            <img class="coverImg" src="{{song.album.cover[0].url}}">
                            <br/>
                            <p class="mSpan">{{song.name}}</p>
                            <a class='sml-button' href="{{ song.shareUrl }}">Spotify</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <br/>
            </div>
        </div>
    </body>
</html>