<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Tempo Trove</title>
        <link rel="icon" href="/static/TheTempoTrove.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="/static/TheTempoTrove.png" class="logo" alt="logo"></img>
            <a class='button' href="{{ url_for('index') }}">Home</a>
            <a class='button' href="{{ url_for('insertItem') }}">Insert</a>
            <a class='button' href="{{ url_for('userPage') }}">Profile</a>
            <a class='button' href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="main">
            <h1>Welcome to The Tempo Trove!</h1>
            <p>You can find related bands from your favorites here!</p>
            <div class="items">
                {% set bands = [] %}
                {% for fav in favs %}
                    {% if fav.get('type') == "artist" %}
                        {{ bands.append(fav.get('name'))|default("", True) }}
                    {% endif %}
                {% endfor %}
                <span>Bands:</span>
                <br/>
                <!-- {% for band in bands %}
                    <span>{{band}}</span>
                    <br/>
                {% endfor %} -->
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                    <dl>
                        {{ render_field(form.bands) }}
                        {{ render_field(form.submit) }}
                    </dl>
                </form>
                {% if rBands != [] %}
                    <span class="rRelBand">Related bands:</span>
                    <br/>
                    {% for rBand in rBands %}
                        <span class="rBandName">{{rBand.name}}:</span>
                        <br/>
                        {% for r in rBand.bands %}
                            <span>{{r}}</span>
                            <br/>
                        {% endfor %}
                        <br/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>