<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Tempo Trove- {{user}}'s Profile</title>
        <link rel="icon" href="/static/TheTempoTrove.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="/static/TheTempoTrove.png" class="logo" alt="logo"></img>            
            <a class='button' href="{{ url_for('index') }}">Home</a>
            <a class='button' href="{{ url_for('insertItem') }}">Insert</a>
            <a class='button' href="{{ url_for('userPage') }}">Profile</a>
            <a class='button' href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="main">
            <h1>{{user}}'s Profile</h1>
            <p>{{user}}'s info</p>
            <div class="items">
                <h2>Bands</h2>
                {% for band in items %}
                {% set typeF = band.get('type') %}
                    {% for key, value in band.items() %}
                        {% if key == "name" and typeF == "artist" %}
                            <span>{{value}}</span>
                            <br/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <h2>Albums</h2>
                {% for album in items %}
                {% set typeF = album.get('type') %}
                    {% for key, value in album.items() %}
                        {% if key == "name" and typeF == "album" %}
                            <span>{{value}}</span>
                            <br/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <h2>Songs</h2>
                {% for song in items %}
                {% set typeF = song.get('type') %}
                    {% for key, value in song.items() %}
                        {% if key == "name" and typeF == "track" %}
                            <span>{{value}}</span>
                            <br/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <br/>
                <a class='sml-button' href="{{ url_for('concerts') }}">Concerts</a>
                <a class='sml-button' href="{{ url_for('related') }}">Related</a>
                <a class='sml-button' href="{{ url_for('visual') }}">Visual</a>
            </div>
        </div>
    </body>
</html>